/* color palette */

:root {
    --green: #009688;
    --gray: #D9DBD5;
    --nav-gray: #EAEAEA;
    --alert-cyan: #8EDAFC;
}
/* Generics */

body {
        background-image: linear-gradient(var(--green) 15%, var(--gray) 15% 100%);
        background-size: cover;
        height: 100vh;
        padding: 5vh 0;
}

.box{
    height: 90vh;
    background-image: url(../img/mine.jpg);
}

.navbar, .notification, .chat-contacts li{
    height: 70px;
}

.navbar{ 
    background-color: var(--nav-gray);
}

#contacts-section {
    flex-basis: 40%;
}

#chat-area {
    flex-basis: 60%;
}

.chat-contacts{
    overflow-y: auto;
    height: calc(100% - 46px);
}

#chat-screen, .chat-section{
    height: calc(100% - 140px);
}

.nav-user{
    height: 100%;
}

.nav-user img{
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}

.notification{
    background-color: var(--alert-cyan);
    padding: 10px;
}

.circle-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    color: var(--alert-cyan);
}

ul{
    list-style-type: none;
}