/* color palette */

:root {
    --green: #009688;
    --gray: #D9DBD5;
    --nav-gray: #EAEAEA;
    --alert-cyan: #8EDAFC;
    --chat-green: #D5F9BA;
}
/* Generics */

body {
    background-image: linear-gradient(var(--green) 15%, var(--gray) 15% 100%);
    background-size: cover;
    height: 100vh;
    padding: 5vh 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

.box{
    height: 90vh;
    background-image: url(../img/mine.jpg);
}

#contacts-section {
    flex-basis: 40%;
}

#chat-section {
    flex-basis: 60%;
}

.circle-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    color: var(--alert-cyan);
}

/* Navbar */

.navbar, .notifications, .contacts-list li{
    height: 70px;
}

.navbar{ 
    background-color: var(--nav-gray);
}

.nav-user{
    height: 100%;
}

.nav-user img{
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}

/* Contacts section */

.contacts-list{
    overflow-y: auto;
    height: calc(100% - 46px);
}

#message-list, .contacts-index{
    height: calc(100% - 140px);
}

.notifications{
    background-color: var(--alert-cyan);
    padding: 10px;
}

/* Chat section */

.sent-message{
    background-color: var(--chat-green);
    
}
.received-message{
    background-color: #fff;
    
}

.message{
    padding: 10px 20px;
    margin: 10px 20px;
}